{
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": 0,
    "linebreak-style": 0,
    "max-len": "off",
    "no-underscore-dangle": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb-base"]
}
