$clr__black: #000;
$clr__dark: #1a1a1a;
$clr__green: #42b336;
$clr__blue: #099cd5;
$clr__gray: #71777f;
$clr__gray_medium: #d6d6d6;
$clr__red: #fe371c;
$clr__white: #fff;

$clr__main: $clr__dark;
$clr__text: $clr__main;
